<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zugriff verweigert</title>

    <link rel="icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="login-wrapper">
    <div class="login-card denied-card">

        <img class="denied-img" src="/static/img/denied.jpg">

        <h1 class="denied-title">
            Du hier nix reinkommen, du Penner!
        </h1>

        <a href="/">
            <button class="btn">Zurück zum Login</button>
        </a>

    </div>
</div>

</body>
</html>